body {
	background: linear-gradient(rgbaa(0,0,50,0.5),rgbaa(0,0,50,0.5)) ;
	background-image: url(img.jpg);
	background-size: cover;
	background-position: center;
}

.login-box {
	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.login-left {
	background-color: rgba(211,211,211,0.5);
	padding: 30px;
}
.login-right {
	background: #fff;
	padding: 30px;
}

.form-control {
	background-color: transparent !important;
}

a {
	color: black !important;
}

h1 {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
